@font-face { font-family: Acari; src: url('../resources/font/acari-sans.vf-regular.ttf'); }

/* Generals */ 
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Sections */
.section{
  height: 92vh;
  align-items: center;
  display: flex;
  align-items: flex-end;
}		

.background{
  background-image: linear-gradient(to right, #fbedc6 , #994d95);
}

.logosection{
  height: 100%;
  width: 30%;
  position: relative;
}

.centerlogo{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 37%;
  left: 50%;
  text-align: center;
  scale: 140%;
}

.centerlogo h1{
  letter-spacing: 3px;
  font-family: 'Comfortaa';
  font-size: 22px;
  font-weight: bolder;
} 

.centerlogo p{
  font-family: 'Acari';
  font-size: 20px;
  letter-spacing: 3px;
}

.centerlogo img{
  width: 35%;
  height: 35%;
  margin-bottom: 4%;
}


.contactsection{
  
  height: 100%;
  width: 70%;
}

.centercontact{  
  position: absolute;
  left: 60%;
  width: 40%;
  top: 40%;
  align-items: center;
}

.data1{
  display: flex !important;
}

.data2{
  display: flex !important;
  margin-top: 4%;
}

.centercontact img{
  width: 4%;
  margin-right: 2%;
}
.centercontact a{
  color: #fbedc6;
  font-family: 'Acari';
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
}

.footer{
  background-color: #5e4b5eAA;
  text-align: center;
  height: 8vh;
}
.footer p{
  padding-top: 20px;
  color: #fbedc6;
  font-family: 'Acari';
  font-size: 15px;
  letter-spacing: 2px;
}
.footer a{
  color: #fbedc6;
}